<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
        {{ if .IsHome }}
        <title>{{ .Site.Title }}</title>
        {{ else }}
        <title>{{ .Title }} - {{ .Site.Title }}</title>
        {{ end }}
        <link rel="shortcut icon" href="/favicon.png" />
        <link href="{{ relURL .Site.Data.webpack.main.css }}" rel="stylesheet" />
        {{ $page := .Params.page }}
        {{ if $page }}
        <link href="{{ relURL ( index .Site.Data.webpack $page ).css }}" rel="stylesheet" />
        {{ end }}
    </head>

    <body>
        {{- partial "header.html" . -}}
        <div id="content">{{- block "content" . -}}{{ end }}</div>
        {{- partial "footer.html" . -}}

        <script src="{{ relURL .Site.Data.webpack.main.js }}" defer></script>
        {{ if $page }}
        <script src="{{ relURL ( index .Site.Data.webpack $page ).js }}" defer></script>
        {{ end }}

        <!-- prettier-ignore -->
        <script type="text/javascript">
            !function(f,z){f.fz||(f.FintezaCoreObject=z,f.fz=f.fz||function(){(f.fz.q=f.fz.q||[]).push(arguments)},f.fz.l=1*new Date)}
            (window,"fz");
            fz("register","website","vfynzocmswvnmnfqcvajmpfwyolvwgfhaq");
        </script>
        <!-- prettier-ignore -->

        <script src="https://content.finteza.com/core.js" defer async></script>
        <noscript>
            <img
                src="https://content.finteza.com/tr?event=Visit&id=vfynzocmswvnmnfqcvajmpfwyolvwgfhaq&ref={{ .Permalink | absLangURL }}&title={{ .Title }}"
                style="position:absolute; left:-9999px;"
                alt=""
            />
        </noscript>
    </body>
</html>
