<div class="p-home l-container">
    <h1>{{ .Title }}</h1>

    <nav class="p-home__nav">
        {{ $isNotFirstSocialLink := false }}
        {{ range.Site.Params.socials }}
        {{ if $isNotFirstSocialLink }}
        ‧
        {{ end }}
        <a href="{{ .link }}" target="_blank">{{ .name }}</a>
        {{ $isNotFirstSocialLink = true }}
        {{ end }}
    </nav>

    <main class="p-home__intro">
        {{ if .Params.photo }}
        {{ $res := .Resources.GetMatch .Params.photo }}
        {{ if $res }}
        {{ $thumb := $res.Fill "252x306 q80"}}

        <div class="p-home__photo">
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" />
        </div>
        {{ end }}
        {{ end }}

        <div class="p-home__content b-post">
            {{ .Content }}
        </div>
    </main>

    {{ with .Site.GetPage "/posts" }}
    <section>
        <h2>Мои последние записи</h2>

        <ul class="b-post-list-short">
            {{ range (.Paginate ( where .Pages "Type" "posts")).Pages }}
            <li class="b-post-list-short__item">
                <span class="b-post-list-short__date">
                    {{ if .Draft }}
                    Черновик
                    {{ else }}
                    {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
                    {{ end }}
                </span>
                <span class="b-post-list-short__title"
                    ><a href="{{ .Params.ExternalLink | default .RelPermalink }}">{{ .Title }}</a></span
                >
            </li>
            <!-- prettier-ignore -->
            {{ end }}
        </ul>

        <a href="{{ .RelPermalink }}">Смотреть все записи в блоге...</a>
    </section>
    {{ end }}
</div>
