<article class="l-container b-post">
    <header class="b-post__header">
        <h1 class="b-post__title">{{ .Title }}</h1>

        {{ if not .Date.IsZero }}
        {{ $datetime := .Date.Format " 2006-01-02T15:04:05Z07:00 " | safeHTML }}
        <time class="b-post__date" datetime="{{ $datetime }}">
            {{ .Date.Day }} {{ index $.Site.Data.months (printf "%d" .Date.Month) }}
            {{ .Date.Year }}
        </time>
        {{ end }}

        {{ if eq .Type "posts" }}
        <span class="b-post__duration">{{ math.Ceil (div .WordCount 120) }} мин. чтения</span>
        {{ end }}

        {{ if .IsTranslated }}
        <nav class="b-post__translations">
            Available in translations:
            {{ range.Translations }}
            <a href="{{ .Permalink }}">{{ .Language.Params.name }}</a>
            {{ end }}
        </nav>
        {{ end }}
    </header>

    {{ .Content }}

    {{ if eq .Type "posts" }}
    <footer class="b-post__footer">
        <a href="/posts/">Смотреть другие записи в блоге...</a>
    </footer>
    {{ end }}
</article>

{{ if eq .Type "posts" }}
<section class="l-container">
    <div class="b-feedback">
        <p class="b-feedback__description">Оставить отзыв или задать вопрос лично по email</p>

        <form
            class="b-feedback__form"
            enctype="text/plain"
            method="post"
            action="mailto:feedback@orlov-vo.ru"
        >
            <label class="b-feedback__field">
                Имя: <input class="b-feedback__control" type="text" name="name" />
            </label>
            <label class="b-feedback__field">
                Текст:
                <textarea class="b-feedback__control" rows="5" cols="30" name="message"></textarea>
            </label>
            <button class="b-feedback__submit" type="submit">Отправить</button>
        </form>
    </div>
</section>
{{ end }}
