.l-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.l-header {
    position: relative;
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.85em;
    padding-left: 6rem;
}

@media print {
    .l-header {
        display: none;
    }
}

.l-header__avatar {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    border-radius: 4rem;
}

.l-header__author {
    font-size: 1rem;
}

.l-footer {
    font-size: 0.8rem;
    opacity: 0.7;
}

.l-header__description {
    margin: 0;
}

.l-home-page__nav {
    margin: -1em 0 1em;
}

.l-home-page__intro {
    display: flex;
    flex-direction: column;
}

.l-home-page__photo {
    flex: 0 1 auto;
    margin-top: 1rem;
}

.l-home-page__photo img {
    display: block;
    border-radius: var(--img-radius);
    margin: 0 auto;
}

.l-home-page__content {
    flex: 1 1 auto;
}

@media (min-width: 600px) {
    .l-home-page__intro {
        flex-direction: row;
    }

    .l-home-page__photo {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}
