{{ $src := .Get "src"}}
{{ $caption := .Get "caption"}}
{{ $res := $.Page.Resources.GetMatch $src }}
{{ $small := $res.Resize "440x q80"}}
{{ $normal := $res.Resize "870x q80"}}

{{ if $caption }}
<figure>
    {{ end }}

    <a class="invisible-link" href="{{ $res.RelPermalink }}">
        <img
            srcset="{{ $small.RelPermalink }} 480w,
                    {{ $normal.RelPermalink }} 870w"
            sizes="(max-width: 480px) {{ $small.Width }}px,
                   {{ $normal.Width }}px"
            src="{{ $normal.RelPermalink }}"
            alt="{{ $caption }}"
        />
    </a>

    {{ if $caption }}
    <figcaption>{{ $caption }}</figcaption>
</figure>
{{ end }}
